<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartError.API</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SmartError.API.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SmartError.API</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Dashboard" ? "active-nav" : "")"
                               asp-controller="Dashboard"
                               asp-action="Index">
                                Dashboard
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Error"
                                                        && ViewContext.RouteData.Values["Action"]?.ToString() == "Index"
                                                        ? "active-nav" : "")"
                               asp-controller="Error"
                               asp-action="Index">
                                Errors
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Action"]?.ToString() == "Create"
                                                        ? "active-nav" : "")"
                               asp-controller="Error"
                               asp-action="Create">
                                Add Error
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="footer-custom">

        <div class="container text-center">

            <p class="mb-0">
                Smart Error Detective System
            </p>

            <small>
                ASP.NET Core MVC | SQL Server | Error Analytics Dashboard
            </small>

        </div>

    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
